{% extends "base.html" %}

{% block content %}

    {% if not page_obj.has_previous %}
        {% include "visits/table.html" with visits=todays_visits title="Today's visits" empty_msg="You don't have any visits scheduled for today." %}
        {% include "visits/table.html" with visits=future_visits title="Future visits" empty_msg="You don't have any future visits." %}
    {% endif %}

    {% include "visits/table.html" with visits=past_visits title="Past visits" empty_msg="You don't have any past visits." %}

    <nav>
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Newer</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Older</a></li>
            {% endif %}
        </ul>
    </nav>
    <p class="text-center">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>

{% endblock %}
